<a href="https://colab.research.google.com/github/cosmaadrian/ml-environment/blob/master/EP_Plotting_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Manipulation & Advanced Plotting (pandas, seaborn & 3D Plotting)

In this lab, we will study data manipulation and visualization using **pandas**, and explore the high level API of **seaborn** for generating visually appealing plots. We will also take a look at 3D plotting using **mplot3d**.

In [ ]:
!pip install tabulate
!pip install sqlalchemy
!pip install sqlalchemy
!pip install sqlite3
!pip install psycopg2
!pip install pymysql

In [ ]:
# Some IPython magic
# Put these at the top of every notebook, to get automatic reloading and inline plotting
%reload_ext autoreload
%autoreload 2

import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

Check out these cheetsheets for fast reference to the common libraries:

**Cheat sheets:**
- [python](https://perso.limsi.fr/pointal/_media/python:cours:mementopython3-english.pdf)
- [numpy](https://s3.amazonaws.com/assets.datacamp.com/blog_assets/Numpy_Python_Cheat_Sheet.pdf)
- [matplotlib](https://s3.amazonaws.com/assets.datacamp.com/blog_assets/Python_Matplotlib_Cheat_Sheet.pdf)
- [sklearn](https://s3.amazonaws.com/assets.datacamp.com/blog_assets/Scikit_Learn_Cheat_Sheet_Python.pdf)
- [pandas](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)

**Other:**
- [Probabilities & Stats Refresher](https://stanford.edu/~shervine/teaching/cs-229/refresher-probabilities-statistics)
- [Algebra](https://stanford.edu/~shervine/teaching/cs-229/refresher-algebra-calculus)

## Pandas Crash Course

Pandas is a high-level data manipulation tool. It is built on the Numpy package and its key data structure is called the DataFrame. DataFrames allow you to store and manipulate tabular data in rows of observations and columns of variables.

Check this official guide for a started in pandas:

[10 minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html)

In [ ]:

import pandas as pd

Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three principal components, the data, rows, and columns.

![](https://media.geeksforgeeks.org/wp-content/uploads/finallpandas.png)


Let's load a publicly available *.csv* dataset into a pandas ***DataFrame***. We will use the popular *iris* dataset.

In [ ]:
file_name = "https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv"

df = pd.read_csv(file_name)
df.head(n = 10)

A dataframe's **.describe()** method offers descriptive statistics which include those that summarize the central tendency, dispersion and shape of a datasetâ€™s distribution, excluding NaN values.

In [ ]:
df.describe()

Let's see some ways in which we can access the DataFrames' data. Each column of a pandas `DataFrame` is a pandas `Series`.

In [ ]:
df['petal_width']

We can do any vectorized operation on a `Series`. Moreover, a pandas `Series` allows us to do conditional selection of rows in a `DataFrame`.

In [ ]:
setosas = df[df['species'] == 'setosa']

setosas.head() # only setosa species selected

We can add a new column to a pandas `DataFrame`, simply by specifying its name and its contents.

**NB**: the data added to the new column must be the same length as the rest of the `DataFrame`.

In [ ]:
df['sepal_area'] = df['sepal_length'] * df['sepal_width'] # adding new columns
df.head()

We can work with `Series` as we work with numpy arrays. We perform Min-Max normalization on the `petal_length` column.

In [ ]:
# Min-Max Normalization
df['petal_length'] = (df['petal_length'] - df['petal_length'].min()) / (df['petal_length'].max() - df['petal_length'].min())
df.head()

We can also use the `.apply()` method on either a `Series` or a `DataFrame` to modify its contents, or create a new column.

In [ ]:
def capitalize(col):
  return col.capitalize()

df['species'] = df['species'].apply(capitalize)
df.head()

A `DataFrame` also has a `groupby` method, that allows us to work on groupings of rows.

In [ ]:
df.groupby('species').mean()

We can also iterate through each group. A group is another `DataFrame`.

In [ ]:
for name, group in df.groupby('species'):
  print("Group:", name)
  print(group.head())
  print("-----")

### Joins

Pandas allows for joining two or more `DataFrames` together using a common key. We can also do vertical or horizontal concatenation .

![](https://res.cloudinary.com/dyd911kmh/image/upload/f_auto,q_auto:best/v1524477162/data-frames-in-python-banner_cgzjxy.png)

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'C': ['C0', 'C1', 'C2', 'C3'],
                     'D': ['D0', 'D1', 'D2', 'D3']})
df2 = pd.DataFrame({'A': ['A0', 'A1', 'A4', 'A5'],
                     'B': ['B4', 'B5', 'B6', 'B7'],
                     'C': ['C4', 'C5', 'C6', 'C7'],
                     'D': ['D4', 'D5', 'D6', 'D7']})
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                     'B': ['B8', 'B9', 'B10', 'B11'],
                     'C': ['C8', 'C9', 'C10', 'C11'],
                     'D': ['D8', 'D9', 'D10', 'D11']})

pd.concat([df1, df2, df3]).reset_index(drop = True)

In [ ]:
pd.merge(df1, df2, on = 'A', how = 'left')

## Saving `DataFrames`

Pandas offers a multitude of methods for saving `DataFrames`.

In [ ]:
df.to_csv('out.csv', index = False) # saves it locally, check out the files in the right tab of colab

In [ ]:
df.to_json()

In [ ]:
print(df.head().to_markdown())

In [ ]:
print(df.head().to_latex())

In [ ]:
print(df.head(n = 3).to_html())

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

# CreeazÄƒ conexiunea cÄƒtre baza de date SQLite
engine = create_engine("sqlite:///my_database.db")

# CreeazÄƒ un DataFrame de test
df = pd.DataFrame({
    "id": [1, 2, 3],
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35]
})

# SalveazÄƒ DataFrame-ul Ã®n SQL
df.to_sql(name="users", con=engine, if_exists="replace", index=False)

# check out https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_sql.html

## Pandas Plotting

Pandas offers a convenient API for plotting data directly from a DataFrame. Of course, the plotting API is build upon `matplotlib` as a low level backend. We can use that to manipulate plots as in the previous lab.
Check out the official documentation for visualization:

[Pandas Plotting Docs](https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html#visualization)


For a quick reference, check the official cookbook.

[Pandas Plotting Cookbook](https://pandas.pydata.org/pandas-docs/stable/user_guide/cookbook.html#cookbook-plotting)

We will use the high level plotting API to visualize the Iris Dataset.

In [ ]:
file_name = "https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv"

df = pd.read_csv(file_name)
df.head(n = 10)

print(df.columns)
df['sepal_length'].plot()

In [ ]:
df[['sepal_width', 'sepal_length']].plot()

In [ ]:
fig, ax = plt.subplots(1, 2)

df['sepal_width'].plot(ax = ax[0], color = 'r')
df['sepal_length'].plot(ax = ax[1], linestyle = '-.')

ax[0].set_title('Sepal Widths')
ax[1].set_title('Sepal Lengths')

ax[0].set_xlabel('Index in dataframe')
ax[1].set_xlabel('Index in dataframe')

ax[0].set_ylabel('centimeters')
ax[1].set_ylabel('centimeters')


fig.set_size_inches(15, 4)

In [ ]:
df[['petal_width', 'petal_length']].plot.hist(alpha = 0.5, bins = 15)

In [ ]:
df[['petal_length', 'petal_width']].plot.kde()

## Cool Plots using Seaborn & Pandas


Check out [seaborn](https://seaborn.pydata.org/examples/index.html) for more awesome plots.

In [ ]:
import seaborn as sns

sns.set_theme()

In [ ]:
print(df.columns)
df['sepal_area'] = df['sepal_length'] * df['sepal_width']
sns.jointplot(x = 'sepal_width', y = 'sepal_area', data = df, kind = 'reg')

In [ ]:
sns.jointplot(x = 'sepal_width', y = 'sepal_area', data = df, kind = 'hex')

In [ ]:
sns.relplot(x="sepal_width", y="sepal_area", hue="species", size="sepal_length", sizes=(40, 400), alpha=.5, height=6, data=df)

In [ ]:
grid = sns.pairplot(df, hue = 'species')

In [ ]:
sns.displot(data = df, x = 'sepal_width', kind = 'kde', hue = 'species')

In [ ]:
sns.displot(data = df, x = 'sepal_width', kind = 'kde', hue = 'species', multiple = 'fill')

In [ ]:
# TransformÄƒ coloanele categorice Ã®n numerice (One-Hot Encoding)
df_encoded = pd.get_dummies(df, drop_first=True)

# CreeazÄƒ heatmap-ul
sns.heatmap(df_encoded.corr(), annot=True, cmap="coolwarm", fmt=".2f")
plt.show()

In [ ]:
sns.violinplot(data=df[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']], palette="light:g", inner="points", orient="h")

## 3D Plotting

In [ ]:
from mpl_toolkits.mplot3d import Axes3D
print(df.head())

In [ ]:
fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')

ax.scatter(df['petal_length'], df['petal_width'], df['sepal_width'], zdir='z', s=20, c=df['species'].astype('category').cat.codes, depthshade=True)

# Exercises

After you finish your lab exercises, you should export this notebook as **pdf** and upload it to Moodle. (i.e. **File -> Print**, Destintation: Save as PDF).

In this lab, we will look at COVID data for Romania. The data was retrieved from https://graphs.ro/.

In [ ]:
import requests
import json

covid_data = json.loads(requests.get('https://www.graphs.ro/json.php').content)

covid_df = pd.DataFrame(covid_data['covid_romania'])
covid_df.head()

covid_county_data_dfs = []

for i, row in covid_df.iterrows():
  try: # some days have no county information
    county_df = pd.DataFrame(row['county_data'])
  except:
    continue

  county_df['reporting_date'] = row['reporting_date']
  covid_county_data_dfs.append(county_df)


county_df = pd.concat(covid_county_data_dfs)
covid_df = covid_df.drop(['sourceUrl', 'county_data'], axis = 1)

In [ ]:
covid_df.head()

In [ ]:
county_df[:10]

# 1. Basic Visualizations

Make 4 subplots. Using pandas as seaborn, plot the number of new cases in a day, the number of recovered patients in day, number of tests in a day, and the number of deaths in day. We are trying to explore the evolution of COVID from the start of the pandemic until today.

**NB:** Make sure to add proper labels, title, axes and legend where necessary.

In [ ]:
fig, axes = plt.subplots(2, 2, figsize=(14, 10))

# Number of new cases per day
sns.lineplot(ax=axes[0, 0], x=covid_df['reporting_date'], y=covid_df['new_cases_today'])
axes[0, 0].set_title("New Cases per Day")

# Number of recovered patients per day
sns.lineplot(ax=axes[0, 1], x=covid_df['reporting_date'], y=covid_df['new_recovered_today'])
axes[0, 1].set_title("Recovered Patients per Day")

# Number of tests per day
sns.lineplot(ax=axes[1, 0], x=covid_df['reporting_date'], y=covid_df['new_tests_today'])
axes[1, 0].set_title("Tests per Day")

# Number of deaths per day
sns.lineplot(ax=axes[1, 1], x=covid_df['reporting_date'], y=covid_df['new_deaths_today'])
axes[1, 1].set_title("Deaths per Day")

plt.tight_layout()
plt.show()

# 2. Positive testing percentage

Using `pandas`, create a new column that computes the percentage of positive tests in a given day. This new column should be the number of infected people in a day over the number of tests per day.

Plot the evolution of positive tests across time. Compare this to the number of hospitalized patients. 

In a different plot, visualize the correlation between positive tests and the number of intensive care patients.

**NB:** Make sure to add proper labels, title, axes and legend where necessary.

In [ ]:
covid_df['positive_percentage'] = (covid_df['new_cases_today'] / covid_df['new_tests_today']) * 100

# Evolution of positive testing percentage over time
plt.figure(figsize=(12, 6))
sns.lineplot(x=covid_df['reporting_date'], y=covid_df['positive_percentage'])
plt.title("Positive Testing Percentage Over Time")
plt.xlabel("Date")
plt.ylabel("Percentage of Positive Tests")
plt.grid(True)
plt.show()

# Compare between positive tests and hospitalized patients
plt.figure(figsize=(12, 6))
sns.lineplot(x=covid_df['reporting_date'], y=covid_df['positive_percentage'], label="Positive Testing Percentage")
sns.lineplot(x=covid_df['reporting_date'], y=covid_df['infected_hospitalized'], label="Hospitalized Patients")
plt.title("Positive Tests vs Hospitalized Patients")
plt.xlabel("Date")
plt.ylabel("Count")
plt.legend()
plt.grid(True)
plt.show()

# Correlation between positive tests and hospitalized patients
plt.figure(figsize=(8, 6))
sns.scatterplot(x=covid_df['positive_percentage'], y=covid_df['infected_hospitalized'])
plt.title("Correlation between Positive Tests and Hospitalized Patients")
plt.xlabel("Positive Testing Percentage")
plt.ylabel("Hospitalized Patients")
plt.grid(True)
plt.show()

# 3. County Information

Select at least 10 counties of your choosing, and plot the evolution of cases across time. 

Plot the number of positive cases on 1000 persons for each of your selected counties. Plot a horizontal line at the 3 / 1000 mark. When the number of positive cases per 1000 persons exceeds 3 / 1000, color your points in a different color from that point onwards.


**NB:** Make sure to add proper labels, title, axes and legend where necessary.

In [ ]:
county_df['reporting_date'] = pd.to_datetime(county_df['reporting_date'])

selected_counties = ['Alba', 'Arad', 'Arges', 'Bacau', 'Bihor', 'Brasov', 'Braila', 'Buzau', 'Cluj', 'Timis']
df_selected = county_df[county_df['county_name'].isin(selected_counties)].copy()

df_selected['cases_per_1000'] = (df_selected['total_cases'] / df_selected['county_population']) * 1000

plt.figure(figsize=(14, 7))
ax = sns.lineplot(x=df_selected['reporting_date'], y=df_selected['cases_per_1000'], hue=df_selected['county_name'])

num_ticks = 10
date_indices = np.linspace(0, len(df_selected['reporting_date']) - 1, num=num_ticks, dtype=int)
selected_dates = df_selected['reporting_date'].iloc[date_indices]

ax.set_xticks(selected_dates)
ax.set_xticklabels(selected_dates.dt.strftime('%Y-%m-%d'), rotation=45, ha="right")

plt.axhline(3, color='red', linestyle='--', label="3/1000 Threshold")

plt.title("Total COVID Cases per 1000 Persons in Selected Counties")
plt.xlabel("Date")
plt.ylabel("Total Cases per 1000 Persons")
plt.legend()
plt.grid(True)

plt.show()

# BONUS

Further expore the dataset, and come up with interesting visualizations of the COVID evolution in Romania.

In [ ]:
correlation_matrix = covid_df[['new_cases_today', 'new_recovered_today', 'new_tests_today', 'new_deaths_today']].corr()

# Histogram for positive testing percentage
plt.figure(figsize=(10, 6))
sns.histplot(covid_df['positive_percentage'], bins=30, kde=True)
plt.title("Distribution of Positive Testing Percentage")
plt.xlabel("Positive Testing Percentage")
plt.ylabel("Frequency")
plt.show()

# Heatmap for correlations between numerical variables
plt.figure(figsize=(10, 6))
sns.heatmap(correlation_matrix, annot=True, cmap="coolwarm", fmt=".2f")
plt.title("Correlation Heatmap")
plt.show()

# Boxplot for COVID cases per 1000 people in different counties
plt.figure(figsize=(12, 6))
sns.boxplot(x=df_selected['county_name'], y=df_selected['cases_per_1000'])
plt.xticks(rotation=45)
plt.title("Comparison of COVID Cases per 1000 Persons in Counties")
plt.xlabel("County")
plt.ylabel("Cases per 1000")
plt.grid(True)
plt.show()